<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCondition %{REQUEST_FILENAME} !-f
    RewriteCondition %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]
</IfModule>
